#leaders_container {
  overflow-y: auto;
  height: 510px;
  width: 100%;
  
  table {
    width: 100%;
  
    thead {
      background-color: #B2E5D0;
    }
  
    td {
      text-align: center;
    }
    tr {
      border: 1px solid black;
    }
  
  }
  
}