#progressChart{
  width: 500px;
  height: 400px;
}

#results_container {
  width: 100%;
  height: 250px;
  overflow-y: auto;
}

#results {
  width: 100%;
  
  border: 1px solid black;
  border-spacing: 0px;
  border-collapse: collapse;

  thead {
    background-color: #B2E5D0;
  }
  
  td {
    text-align: center;
  }
  tr {
    border: 1px solid black;  
  }
  
  .share-container {
    width: 100px;
    a:hover {
      background-color: #E4FDFC;
    }
  }
}