body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


#sidebar {
  float: left;
  margin-left: 10px;
  width: 230px;
  height: 580px;
  background-color: #C3DBDE;
  
  h1 {
    padding-left: 20px;
    margin-bottom: 50px;
    color: #204539;
  }
  
  .menu-item {
    display:block;
    height: 35px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: -20px;

    font-size: 20px;
    color: #315A64;
    text-decoration: none;
    &:hover {
      color: #2D4B42;
      background-color: #C3E1E4;
    }
  
  }
  
  #vk_like_container {
    position: absolute;
    bottom: 30px;
    right: 60px;
    width: 100px;
  }
  
  .current {
    background-color: #B7CCD1;
  }
  
}



#content {
  float: left;
  width: 500px;
  height: 580px;
}


.notice {
  font-size: 16px;
  background-color: #63CA64;
  margin: 15px 0px 15px 0px;
}

.alert {
  font-size: 16px;
  background-color: #BC7D81;
  margin: 15px 0px 15px 0px;
}

.close-button {
  float: right;
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }
}

#menu-title {
  margin-top: 20px;
}

h1 {
  margin-top: 0px;
}